@import "vars";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    line-height: 1.5;
    color: $text-color;
    background: $bg-color;
}

a {
    color: inherit;
}

button {
    font-size: 14px;
    transition: all 0.1s linear;
    outline: none;
}

.spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: url(../assets/images/loading.png);
        display: block;
        width: fit-content;
        height: 16px;
        animation: spin 1s ease infinite;
    }
}

.btn {
    position: relative;
    min-height: 40px;

    &:disabled {
        cursor: not-allowed;
        background-color: $disabled-bg;
    }
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.primary-btn {
    border-radius: 4px;
    cursor: pointer;
    background-color: $primary;
    color: #fff;
    border: none;
    padding: 10px;

    &:not(:disabled):hover {
        background-color: #2563eb;
        box-shadow: 0 2px 6px $primary-ring;
    }

    &:not(:disabled):focus {
        box-shadow: 0 0 0 3px $primary-ring;
    }

    &.loading {
        color: $primary;
    }
}

.form-wrapper {
    display: flex;
    gap: 10px;

    .form-row {
        flex-grow: 1;
    }
}

.form-row {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 15px;
    transition: all 0.1s linear;
    color: $text-color;

    &:focus {
        outline: none;
        border: 1px solid $border-color-primary;
        box-shadow: 0 0 0 3px $primary-ring;
    }

    &.error {
        border: 1px solid $error-border;
        color: $error-text;
        background-color: $error-bg;

        &:focus {
            box-shadow: 0 0 0 3px $error-ring;
        }

        &::placeholder {
            color: #f87171;
        }
    }

    &::placeholder {
        color: $text-secondary;
    }
}

.form-error {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    color: $error-text;
}

.form-link {
    margin-top: 20px;
    font-size: 14px;
    align-self: center;
}

.auth {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 100vh;

    &__container {
        max-width: 500px;
        margin: 0 auto;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}
