@import "vars";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    line-height: 1.5;
    color: $text-color;
    background: $bg-color;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

button {
    font-size: 14px;
    transition: all 0.1s linear;
    outline: none;
}

.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    transition: all 0.1s linear;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.show {
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        pointer-events: all;
        visibility: visible;

        .modal__inner {
            transform: translate(-50%, -50%);
        }
    }
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    transition: all 0.1s linear;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 4px;
}

.modal__header {
    border-bottom: 1px solid $border-color;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__body {
    &-title {
        font-size: 22px;
        font-weight: 500;
    }
}

.spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: url(../assets/images/loading.png);
        display: block;
        width: fit-content;
        height: 16px;
        animation: spin 1s ease infinite;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    border: 2px solid $text-secondary;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.btn {
    position: relative;
    min-height: 40px;

    &:disabled {
        cursor: not-allowed;
        background-color: $disabled-bg;
    }
}

.secondary-btn {
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: $text-color;
    border: 1px solid $border-color;
    padding: 10px;

    &:not(:disabled):hover {
        box-shadow: 0 2px 6px $border-color;
    }

    &:not(:disabled):focus {
        box-shadow: 0 0 0 3px $primary-ring;
    }
}

.primary-btn {
    border-radius: 4px;
    cursor: pointer;
    background-color: $primary;
    color: #fff;
    border: none;
    padding: 10px;

    &:not(:disabled):hover {
        background-color: #2563eb;
        box-shadow: 0 2px 6px $primary-ring;
    }

    &:not(:disabled):focus {
        box-shadow: 0 0 0 3px $primary-ring;
    }

    &.loading {
        color: $primary;
    }
}

.form-wrapper {
    display: flex;
    gap: 10px;

    .form-row {
        flex-grow: 1;
    }
}

.form-row {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 15px;
    transition: all 0.1s linear;
    color: $text-color;

    &:focus {
        outline: none;
        border: 1px solid $border-color-primary;
        box-shadow: 0 0 0 3px $primary-ring;
    }

    &.error {
        border: 1px solid $error-border;
        color: $error-text;
        background-color: $error-bg;

        &:focus {
            box-shadow: 0 0 0 3px $error-ring;
        }

        &::placeholder {
            color: #f87171;
        }
    }

    &::placeholder {
        color: $text-secondary;
    }
}

.form-error {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    color: $error-text;
}

.form-link {
    margin-top: 20px;
    font-size: 14px;
    align-self: center;
}

.auth {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 100vh;

    &__container {
        max-width: 500px;
        margin: 0 auto;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}

.main {
    display: flex;
    max-height: 100vh;
    min-height: 100vh;
}

.sidebar {
    border-right: 1px solid $border-color;
    box-shadow: 0 0 5px $border-color;
    display: flex;
    flex-direction: column;
    width: 300px;

    &__search {
        padding: 20px;
    }

    &__text {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }

    &__chats {
        overflow-y: auto;
        border-top: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        flex: 1;

        &-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 7.5px 20px;
            cursor: pointer;
            transition: all 0.1s linear;
            outline: none;

            &:hover,
            &:focus {
                background-color: #e5e7eb;
            }
        }

        &-avatar {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }

        &-content {
            flex: 1;
        }

        &-last {
            font-size: 14px;
            color: $text-secondary;
        }
    }

    &__content {
        &-top {
            display: flex;
            justify-content: space-between;
        }

        &-time {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__footer {
        border-top: 1px solid $border-color;
        padding: 20px;
        display: flex;
        gap: 10px;
    }
}

.search-bar {
    display: flex;
    gap: 10px;

    &__input {
        flex: 1;
        border-radius: 4px;
        border: 1px solid $border-color;
        padding: 10px;
        transition: all 0.1s linear;
        color: $text-color;

        &:focus {
            outline: none;
            border: 1px solid $border-color-primary;
            box-shadow: 0 0 0 3px $primary-ring;
        }

        &::placeholder {
            color: $text-secondary;
        }
    }
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    &__text {
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__header {
        height: 78.6px;
        border-bottom: 1px solid $border-color;
        padding: 10px;
        display: flex;

        &-avatar {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            align-self: center;
        }
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        &-title {
            font-size: 18px;
            font-weight: 400;
        }

        &-text {
            font-size: 14px;
            color: $text-secondary;
        }
    }

    &__more {
        margin: 10px 0;
        width: 40px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: none;
        outline: none;
        border: 1px solid $bg-color;
        cursor: pointer;
        transition: all 0.1s linear;

        &:hover {
            border: 1px solid $border-color;
        }

        &:focus {
            box-shadow: 0 0 0 3px $primary-ring;
        }

        &-dot {
            display: block;
            width: 5.3px;
            height: 5.3px;
            border-radius: 100%;
            background: $text-color;
            transition: all 0.1s linear;
        }
    }

    &__body {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        &-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $text-secondary;
        }

        &-messages {
            padding: 10px;
            overflow-y: auto;
            flex: 1;
            max-height: calc(100vh - 78.6px - 78.4px);
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
        }

        &-message {
            border-radius: 4px;
            background: $message-bg;
            box-shadow: 0 0 5px $border-color;
            padding: 10px;
            width: fit-content;
            cursor: pointer;
            transition: all 0.1s linear;
            display: flex;
            gap: 20px;
            color: $message-text;
            border: 1px solid $message-border;

            &-text {
                font-size: 14px;
                max-width: 250px;
            }

            &-time {
                margin-top: 10px;
                font-size: 10px;
                color: $text-secondary;
                align-self: flex-end;
            }

            &--own {
                align-self: flex-end;
                background: $own-message-bg;
                color: $own-message-text;
                border: 1px solid $own-message-border;
            }

            &.focus {
                box-shadow: 0 0 0 3px $primary-ring;
            }
        }

        &-textfield {
            background-color: $bg-color;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 1px solid $border-color;
            padding: 20px;
            display: flex;
            gap: 10px;
            box-shadow: 0 0 5px $border-color;
        }

        &-input {
            flex: 1;
            border-radius: 4px;
            border: 1px solid $border-color;
            padding: 10px;
            transition: all 0.1s linear;
            color: $text-color;

            &:focus {
                outline: none;
                border: 1px solid $border-color-primary;
                box-shadow: 0 0 0 3px $primary-ring;
            }

            &::placeholder {
                color: $text-secondary;
            }
        }

        &-btn {
            border: 1px solid transparent;
            background-color: transparent;
            transition: all 0.1s linear;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                border: 1px solid $border-color;
            }

            &:focus {
                box-shadow: 0 0 0 3px $primary-ring;
            }
        }
    }
}

.profile {
    &__avatar {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;

        img {
            display: block;
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-text {
            margin-bottom: 10px;
        }
    }

    &__label {
        cursor: pointer;
    }

    &__input {
        display: none;
    }

    &__section {
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;

        .form-row {
            margin-bottom: 0;
        }

        &-avatar {
            display: flex;
            align-items: flex-end;
            gap: 20px;
        }
    }
}
